<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BHFinanceService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F4CB6C91CEEA7A50087F9FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F4CB6E21CEEA7A50087F9FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F4CB6ED1CEEA7A50087F9FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
